<h2 class="no-cl-change blog-intro">
    <a href="/$tech-blog-title$">$tech-blog-title$</a>
</h2>
<p>
    $tech-blog-description$
    The recent posts are:
</p>
$partial("contents/templates/site/blogs-intro/tech-post-list.html")$    
<p>…or you can read more in the <a href="/$tech-blog-title$">$tech-blog-title$</a></p>

<h2 class="no-cl-change blog-intro">
    <a href="/$diary-title$">$diary-title$</a>
</h2>
<p>
    $diary-description$
    The recent posts are:
</p>
$partial("contents/templates/site/blogs-intro/diary-post-list.html")$
<p>…or you can read more in the <a href="/$diary-title$">$diary-title$</a></p>
