<!--div class="modal" id="modal-about"-->
<div class="modal" id="modal-contributions">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <i class="fas fa-code-branch fa-fw mr-2"></i> 
                Contributions
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <h2 class="title is-3">
                <i class="fas fa-project-diagram fa-fw"></i>
                    Projects
            </h2>
            <h2 class="subtitle is-5">My specific projects</h2>
            <div class="content">
                $projs$
                <p class="is-pulled-right">
                    …or you can find more on 
                    <a href="https://github.com/falgon">GitHub (@falgon)</a>.
                </p>
                <div class="is-clearfix"></div>
            </div>
            
            <h2 class="title is-3">
                <i class="fas fa-project-diagram fa-fw"></i>
                Other online activities
            </h2>
            <h2 class="subtitle is-5">Other contributions and activities</h2>
            $contable$
        </section>
    </div>
</div>
