<div class="modal" id="modal-donate">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <i class="fas fa-coins fa-fw mr-2"></i> 
                Donate
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <h2 class="title is-3">
                <i class="fas fa-heart fa-fw"></i>
                Donation list
            </h2>
            <h2 class="subtitle is-5">You can donate to my technical activities from the list below!</h2>
            <div class="content">
                <div class="buttons">
                    <a class="button is-success is-large" href="https://www.buymeacoffee.com/roki">
                        <span class="icon is-medium">
                            <i class="fas fa-mug-hot"></i>
                        </span>
                        <span>Buy me a coffee</span>
                    </a>
                    <a class="button is-success is-large" href="https://www.amazon.jp/hz/wishlist/ls/1NF4D88PJD2HM?ref_=wl_share">
                        <span class="icon is-medium">
                            <i class="fab fa-amazon"></i>
                        </span>
                        <span>Wishlist</span>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>
