<!-- Only Tablet or Smart Phone -->
<div class="columns is-multiline is-hidden-desktop is-hidden-tablet">

$partial("contents/templates/site/column/begin.html")$
    $partial("contents/templates/site/welcome.html")$
$partial("contents/templates/site/column/end.html")$
 
$partial("contents/templates/site/author-info/sp.html")$

$partial("contents/templates/site/column/begin.html")$
    $partial("contents/templates/site/blogs-intro.html")$
$partial("contents/templates/site/column/end.html")$

</div>
