<div class="is-pulled-right">
    <style>
    .social-icon a {
        color: #363636;
    }
    </style>
    <ul class="fa-ul">
        <li class="fa-li is-inline social-icon">
            <a href="http://twitter.com/share?url=https://$site-title$$url$&text=$title$%20%7C%20$site-title$%2F$blog-title$&via=530506"
                rel="nofollow noopener noreferrer"
                class="social-icon-twitter">
                <i class="fab fa-twitter-square fa-lg"></i>
            </a>
        </li>
        <li class="fa-li is-inline social-icon">
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://$site-title$$url$"
                rel="nofollow noopener noreferrer"
                class="social-icon-facebook">
                <i class="fab fa-facebook-square fa-lg"></i>
            </a>
        </li>
        <li class="fa-li is-inline social-icon">
            <a href="https://social-plugins.line.me/lineit/share?url=https://$site-title$$url$"
                rel="nofollow noopener noreferrer"
                class="social-icon-line">
                <i class="fab fa-line fa-lg"></i>
            </a>
        </li>
        <li class="fa-li is-inline social-icon">
            <a href="https://getpocket.com/edit?url=https://$site-title$$url$"
                rel="nofollow noopener noreferrer"
                class="social-icon-pocket">
                <i class="fab fa-get-pocket fa-lg"></i>
            </a>
        </li>
    </ul>
</div>
<div style="is-clear-fix"></div>
