@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Ubuntu Mono', monospace;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

::selection {
    background-color: #3297FD; /* Chrome default color */
    color: #fff;
}

#my_name {
    font-family: 'EB Garamond', serif;
}

.main {
    flex: 1;
}

.container p, .container a {
    display: inline;
}

ul.is-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.blured-my-prof {
    content: url(/images/avator/prof1000x1000.png);
    margin-top: 27px;
    border-radius: 10px;
}

.footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

hr.footer-dec {
    margin: 0 0 9px 0;
    background: url(/images/footer_dec.svg) no-repeat center center;
    background-size: 400px;
    width: 100%;
    height: 40px;
    display: block;
}

.card {
    border-radius: 10px;
}

.card p, .card h2 {
}

span.both-lined {
    display: flex;
    flex-direction: row;
}

span.both-lined:before, span.both-lined:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px dashed #dedede;
    margin: auto;
}

span.both-lined:before {
    margin-right: 10px;
}

span.both-lined:after {
    margin-left: 10px;
}
