$math-systems: ("def": "定義", "prop": "命題", "lem": "補題", "cor": "系", "thm": "定理", "axm": "公理", "proof": "証明");

%math-system {
    @each $math-system-class, $math-system in $math-systems {
        .m-#{$math-system-class} {
            @extend .card, .is-shadowless;
        }
        .m-#{$math-system-class}-title {
            @extend .card-header, .card-header-title, .is-shadowless, .title, .is-6, .mb-0;
            &:before {
                content: "#{$math-system}";
                text-decoration: underline;
            }
            p {
                font-weight: normal;
                &:before {
                    content: "(";
                }
                &:after {
                    content: ")";
                }
                @extend .ml-1;
            }
        }
        .m-#{$math-system-class}-content {
            @extend .card-content, .content, .mt-0, .pt-0;
            &:after {
                content: "□";
            }
        }
    }
}
