@import "../../../node_modules/bulma/bulma.sass";
@import "../base/all";
@import "mixins";

$tooltip-color: white;

.footnotes {
    hr {
        border-top: 1px dotted #f5f5f5;
    }
}
    
.social-icon {
    a {
        color: #363636;    
    }
    .social-icon-twitter:hover {
        color: $twitter-color;
    }
    .social-icon-facebook:hover {
        color: $facebook-color;
    }
    .social-icon-pocket:hover {
        color: $pocket-color;
    }
    .social-icon-line:hover {
        color: $line-color;
    }
}
     

article {
    .card {
        .card-content {
            section {
                h1 {
                    font-size: 2.5rem;
                    @extend .mt-5, .mb-3;
                    font-weight: normal;
                }
                h2 {
                    font-size: 1.8rem;
                    @extend .mt-5, .mb-3, .pb-1;
                    font-weight: normal;
                    border-bottom: solid 1px $grey-lighter;
                }
                h3 {
                    font-size: 1.4rem;
                    @extend .mt-5, .mb-3;
                    font-weight: normal;
                }
                h4 {
                    @extend .mt-5, .mb-3;
                    font-weight: normal;
                }
                ul, ol {
                    list-style-position: inside;
                }
                table {
                    @extend .container, .table;
                }
                @extend %math-system;
            }
        }
    }
}
