@import "../../../node_modules/bulma/bulma.sass";
@import "../base/all";
@import "mixins";

$tooltip-color: white;

.footnotes {
    hr {
        border-top: 1px dotted #f5f5f5;
    }
}
    
.social-icon {
    a {
        color: $grey-darker;
    }
    .social-icon-twitter:hover {
        color: $twitter-color;
    }
    .social-icon-facebook:hover {
        color: $facebook-color;
    }
    .social-icon-pocket:hover {
        color: $pocket-color;
    }
    .social-icon-line:hover {
        color: $line-color;
    }
}
     

article {
    .card {
        .card-content {
            section {
                h1 {
                    font-size: 2.5rem;
                    @extend .mt-5, .mb-3;
                    font-weight: normal;
                }
                h2 {
                    font-size: 1.8rem;
                    @extend .mt-5, .mb-3, .pb-1;
                    font-weight: normal;
                    border-bottom: solid 1px $grey-lighter;
                }
                h3 {
                    font-size: 1.4rem;
                    @extend .mt-5, .mb-3;
                    font-weight: normal;
                }
                h4 {
                    @extend .mt-5, .mb-3;
                    font-weight: normal;
                }
                ul, ol {
                    list-style-position: outside;
                }
                table {
                    @extend .container, .table;
                }
                figure {
                    @extend .box, .has-text-centered, .is-shadowless, .mt-0, .mb-0;
                }
                @extend %math-system;
                .column-comment {
                    @extend .mt-4;
                    border: solid 2px $grey-lighter;
                    border-radius: 12px;
                    @extend .p-3;
                    p {
                        font-weight: normal;
                        &:before {
                            @extend .mb-6;
                            @extend .is-size-5;
                            content: "\f27a\a0コラム\A";
                            font-family: FontAwesome;
                            white-space: pre;
                        }
                    }
                }
            }
        }
    }
}
