@font-face  {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'),
        url(https://fonts.gstatic.com/s/roboto/v19/KFOiCnqEu92Fr1Mu51QrEz0dL-vwnYh2eg.woff2)
        format('woff2');
    font-display: swap;
}

html {
    height: 100%;
    margin: 0;
}

body {
    font-family:
        'Ubuntu Mono',
        'Sawarabi Mincho',
        sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

caption {
    caption-side: bottom;
    margin-top: 0.5em;
    font-size: 0.9em;
}

::selection {
    background-color: #3297FD; /* Chrome default color */
    color: #fff;
}

.gothic {
    font-family:
        'Ubuntu Mono',
        'Avenir',
        'Helvetica Neue',
        'Arial',
        'Sawarabi Gothic',
        'Hiragino Sans',
        'ヒラギノ角ゴシック',
        'YuGothic',
        'Yu Gothic',
        'メイリオ',
        'Meiryo',
        'ＭＳ Ｐゴシック',
        'MS PGothic',
        sans-serif;
}

#my_name {
    font-family:
        'Avenir'
        'Helvetica Neue',
        'Arial',
        sans-serif;
}

.main {
    flex: 1;
    margin: 0;
    padding: 0;
    padding-top: 1.5rem;
}

.container p, .container a {
    display: inline;
}

ul.is-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.blured-my-prof {
    content: url(/images/avator/prof1000x1000.png);
    margin-top: 27px;
    border-radius: 10px;
}

.blured-my-prof-webp {
    margin-top: 27px;
    border-radius: 10px;
}

.footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

.card {
    border-radius: 10px;
}

span.both-lined {
    display: flex;
    flex-direction: row;
}

span.both-lined:before, span.both-lined:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px dashed #dedede;
    margin: auto;
}

span.both-lined:before {
    margin-right: 10px;
}

span.both-lined:after {
    margin-left: 10px;
}

.no-cl-change {
    padding: 0;
    margin: 0;
}

.no-cl-change a {
    padding: 0;
    margin: 0;
    color: $grey-darker;
}

.no-cl-change a:hover {
    color: $grey-darker;
}

#contributions_table {
    height: 250px;
    width: 100%;
    overflow-y: scroll;
}

.reverse-row-order {
    flex-direction: row-reverse;
}

.footer-dec {
    content: url(/images/footer_dec.svg);
    max-width: 500px;
}

.tag a {
    color: #fff;
}

.tags-ul li {
    margin-right: 5px;
}

.blog-intro {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: solid 1px $grey-lighter;
    border-image: linear-gradient(to right, $grey-light 0% 50%, transparent 100%);
    border-image-slice: 1;
    border-right: 0;
    border-top: 0;
    border-left: 0;
}

.katex-display > .katex {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
}

