.is-valign-top {
    vertical-align: top;
}

.is-valign-middle {
    vertical-align: middle;
}

.is-valign-bottom {
    vertical-align: bottom;
}

.is-valign-text-top {
    vertical-align: text-top;
}

.is-valign-text-bottom {
    vertical-align: text-bottom;
}

.is-valign-super {
    vertical-align: super;
}

.is-valign-sub {
    vertical-align: sub;
}

