<ul class="is-unstyled">
    <li><i class="fas fa-male fa-fw mr-2" aria-hidden="true"></i>$author-sex$</li>
    <li>
        <i class="fas fa-info fa-fw" aria-hidden="true"></i>
        $author-job$
    </li>
    <li><i class="fas fa-map-marker fa-fw mr-2" aria-hidden="true"></i>$author-locale$</li>
    <li><i class="fas fa-heart fa-fw mr-2" aria-hidden="true"></i>$author-fav$</li>
    <li>
        <i class="fas fa-tags fa-fw" aria-hidden="true"></i>
        <span class="has-tooltip-arrow
                has-tooltipl-multiline 
                has-tooltip-text-left 
                has-tooltip-bottom" 
                data-tooltip="$author-interested$">
            Interested in…
             
        </span>
    </li>
    <li>
        <i class="fab fa-github fa-fw"></i>
        <a href="https://github.com/$author-github$">@$author-github$</a>
    </li>
    <li>
        <i class="fab fa-twitter fa-fw"></i>
        <a href="https://twitter.com/$author-twitter$">@$author-twitter$</a>
    </li>
    <li>
        <i class="fas fa-code-branch fa-fw"></i> 
        <a class="modal-target" data-target="modal-contributions">
            Contributions
        </a>
    </li>
    <li>
        $partial("contents/templates/site/author-info/more-links.html")$
    </li>
</ul>
