<em onclick="openLink()">
    <a style="font-style: normal; cursor:pointer;">
        <p style="color: #363636;">
        <i class="fas fa-link mr-2" aria-hidden="true"></i>
        <span style="border-bottom: dashed 1px #dedede;">And more Links…</span>
        </p>
    </a>
</em>
<div class="open_links" style="display:none;clear:both;">
    <ul style="list-style: none; margin: 0; padding: 0;">
        <li>
            <i class="fab fa-tumblr fa-fw mr-2"></i>
            <a href="https://$author-tumblr$.tumblr.com/">$author-tumblr$</a>
        </li>
        <li>
            <i class="fab fa-reddit fa-fw mr-2"></i>
            <a href="https://www.reddit.com/user/$author-reddit$">$author-reddit$</a>
        </li>
        <li>
            <i class="fab fa-stack-overflow fa-fw mr-2"></i>
            <a href="https://stackoverflow.com/users/$author-stackoverflow$">roki</a>
        </li>
        <li>
            <i class="fab fa-steam-square fa-fw mr-2"></i>
            <a href="https://steamcommunity.com/id/$author-steam$">$author-steam$</a>
        </li>
        <li>
            <i class="fas fa-globe fa-fw mr-2"></i>
            <a href="https://yukicoder.me/users/$author-yukicoder$">Roki - yukicoder</a>
        </li>
        <li>
            <i class="fas fa-globe fa-fw mr-2"></i>
            <a href="https://teratail.com/users/$author-teratail$">
                $author-teratail$ - teratail
            </a>
        </li>
        <li>
            <i class="fas fa-globe fa-fw mr-2"></i>
            <a href="https://www.haskellers.com/user/5315">
                <img src="https://www.haskellers.com/static/badge.png" alt="I'm a Haskeller">
            </a>
        </li>
    </ul>
</div>
