<div class="column is-one-third">
<div class="card is-shadowless">
  <div class="card-image">
    <figure class="image">
      <picture>
        <source type="image/webp" class="blured-my-prof-webp" srcset="/images/avator/prof1000x1000.png.webp" />
        <img class="blured-my-prof" />
      </picture>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content ml-5" style="overflow: visible;">
        <div class="mb-3">
            <p class="title" id="my_name">$author-name$</p>
        </div>
        $partial("contents/templates/site/author-info/listed.html")$
      </div>
    </div>
  </div>
</div>
</div>
