<div class="column">
<div class="card is-shadowless">
<div class="card-content card-content-padding">
<div class="container">

    <figure class="image">
        <img class="blured-my-prof" style="margin-top: 0; max-width: 300px; height: auto;"/>
    </figure>

    <div style="width: 200px; margin: 0 auto;">
        <div class="mb-3"><p class="title" id="my_name">$author-name$</p></div>
        <ul class="is-unstyled">
            <li><i class="fas fa-male fa-fw mr-2" aria-hidden="true"></i>$author-sex$</li>
            <li><i class="fas fa-map-marker fa-fw mr-2" aria-hidden="true"></i>$author-locale$</li>
            <li><i class="fas fa-star fa-fw mr-2" aria-hidden="true"></i>$author-fav$</li>
            <li>
                <i class="fas fa-tags fa-fw" aria-hidden="true"></i>
                <span class="has-tooltip-arrow
                    has-tooltipl-multiline 
                    has-tooltip-text-left 
                    has-tooltip-bottom" 
                      data-tooltip="$author-interested$">
                    Interested in…
                </span>
            </li>
            <li>
                <i class="fas fa-info fa-fw" aria-hidden="true"></i>
                $author-job$
            </li>
            <li><i class="fab fa-github fa-fw mr-2"></i><a href="https://github.com/$author-github$">@$author-github$</a></li>
            <li><i class="fab fa-twitter fa-fw mr-2"></i><a href="https://twitter.com/$author-twitter$">@$author-twitter$</a></li>
            <li>
                <i class="fas fa-code-branch fa-fw"></i> 
                <a class="modal-target" data-target="modal-about">
                    Contributions
                </a>
            <li>
                <em onclick="openLink()">
                    <a style="font-style: normal; cursor:pointer;">
                    <p style="color: #363636;">
                        <i class="fas fa-link mr-2" aria-hidden="true"></i>
                        <span style="border-bottom: dashed 1px #dedede;">And more Links…</span>
                    </p>
                    </a>
                </em>
                <div class="open_links" style="display:none;clear:both;">
                    <ul style="list-style: none; margin: 0; padding: 0;">
                        <li>
                            <i class="fab fa-tumblr fa-fw mr-2"></i>
                            <a href="https://$author-tumblr$.tumblr.com/">$author-tumblr$</a>
                        </li>
                        <li>
                            <i class="fab fa-stack-overflow fa-fw mr-2"></i>
                            <a href="https://stackoverflow.com/users/$author-stackoverflow$">roki</a>
                        </li>
                        <li>
                            <i class="fab fa-steam-square fa-fw mr-2"></i>
                            <a href="https://steamcommunity.com/id/$author-steam$">$author-steam$</a>
                        </li>
                        <li>
                            <i class="fas fa-globe fa-fw mr-2"></i>
                            <a href="https://yukicoder.me/users/$author-yukicoder$">Roki - yukicoder</a>
                        </li>
                        <li>
                            <i class="fas fa-globe fa-fw mr-2"></i>
                            <a href="https://teratail.com/users/$author-teratail$">
                                $author-teratail$ - teratail
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="is-clearfix"></div>
    </div>

</div>
</div>
</div>
</div>
