<div class="column">
<div class="card is-shadowless">
<div class="card-content card-content-padding">
<div class="container">

    <figure class="image">
        <picture>
            <source 
                type="image/webp" 
                class="blured-my-prof-webp" 
                srcset="/images/avator/prof1000x1000.png.webp"
                style="margin-top: 0; max-width: 300px; height: auto;" />
            <img class="blured-my-prof" style="margin-top: 0; max-width: 300px; height: auto;"/>
        </picture>
    </figure>

    <div style="width: 200px; margin: 0 auto;">
        <div class="mb-3"><p class="title" id="my_name">$author-name$</p></div>
        $partial("contents/templates/site/author-info/listed.html")$
        <div class="is-clearfix"></div>
    </div>

</div>
</div>
</div>
</div>
